:root{
    --highlight: #50d292;
    --base:white;
    --bg:black;
}

.background{
    background-color: var(--bg)
}

.navigationBar{
    background-color: transparent;
}

.navbar-brand{
    font-family: 'Oswald', sans-serif;
    color: var(--base)
}

.jumbotron{
    background-color: transparent;
    margin-top: 5%
}

.jumbotronBase{
    font-family: 'Oswald', sans-serif;
    color: var(--base);
    display: inline-block;
    text-transform: uppercase;
}

.jumbotronBaseDesc{
    font-family: 'Oswald', sans-serif;
    color: var(--base);
    display: inline-block;
}

.jumbotronHighlightDesc{
    font-family: 'Oswald', sans-serif;
    color: var(--highlight);
    display: inline-block;
}

.jumbotronHighlight{
    font-family: 'Oswald', sans-serif;
    color: var(--highlight);
    display: inline-block;
    text-transform: uppercase;
}

.jumbotronContent{
    text-align: center
}

.jumbotronContentLeftAligned{
    text-align: left;
}

.jumbotronLinks{
    margin-top: 5%
}

.arrow{
    font-size: 125%;
    color: var(--base)
}

.clickable:hover {
    color: var(--highlight);
}

.footer{
    position: fixed;
    height: 10%;
    bottom: 0;
    width: 90%;
}

.sti_container {
  position: relative;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.btn .btn-text {
  max-width: 0;
  display: inline-block;
  -webkit-transition: color .1s 1s, max-width 2s;
  transition: color .1s 1s, max-width 2s;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  color: var(--base);
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn:hover .btn-text {
  max-width: 300px;
  color: var(--base);
}

.modal-content{
    background-color: var(--bg)
}

.spotifyTrack{
    font-family: 'Oswald', sans-serif;
    color: var(--base)
}
