:root{
    --highlight: #50d292;
    --base:white;
    --bg:black;
}

.background{
    background-color: var(--bg)
}

.navigationBar{
    background-color: transparent;
}

.navbar-brand{
    font-family: 'Oswald', sans-serif;
    color: var(--base)
}

.jumbotron{
    background-color: transparent;
    margin-top: 5%
}

.jumbotronBase{
    font-family: 'Oswald', sans-serif;
    color: var(--base);
    display: inline-block;
    text-transform: uppercase;
}

.jumbotronBaseDesc{
    font-family: 'Oswald', sans-serif;
    color: var(--base);
    display: inline-block;
}

.jumbotronHighlight{
    font-family: 'Oswald', sans-serif;
    color: var(--highlight);
    display: inline-block;
    text-transform: uppercase;
}

.jumbotronContent{
    text-align: center
}

.jumbotronLinks{
    margin-top: 5%
}

.arrow{
    font-size: 125%;
    color: var(--base)
}