{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="jumbotronContent">
	  	<div class="display-4"><h2 class="display-4 jumbotronBase">Hey, I'm </h2> <h2 class="display-4 jumbotronHighlight">Aravinda Kumaran</h2></div>
	  	<div class="display-4"><h2 class="display-4 jumbotronBase">But you can call me </h2> <h2 class="display-4 jumbotronHighlight">Ara</h2></div>
	  	<div>
	  		<h4 class="jumbotronBaseDesc">I'm a Data Analytics student, software developer and a creative coder</h4>
	  	</div>
	  	<div class="jumbotronLinks">
	  		<a class="clickable" href="about">
	  			<i class="fi fi-rr-arrow-circle-right arrow"></i>
	  			<h4 class="jumbotronBaseDesc">About Me</h4>
	  		</a>
	  	</div>
	</div>
</div>
{% endblock %}