{% extends "base.html" %}
{% block title %}Aravinda Kumaran{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="jumbotronContent">
	  	<div class="display-4"><h2 class="display-4 jumbotronBase">Hey, I'm </h2> <h2 class="display-4 jumbotronHighlight">Aravinda Kumaran</h2></div>
	  	<div class="display-4"><h2 class="display-4 jumbotronBase">But you can call me </h2> <h2 class="display-4 jumbotronHighlight">Ara</h2></div>
	  	<div>
	  		<h4 class="jumbotronBaseDesc">I'm a Data Analytics student, software developer and a creative coder</h4>
	  	</div>
	  	<div class="jumbotronLinks">
	  		<a href="{{url_for('static', filename='assets/CV.pdf')}}" target="_blank">
	  			<i class="fi fi-rr-arrow-circle-right arrow"></i>
	  			<h4 class="jumbotronBaseDesc">CV</h4>
	  		</a>
	  	</div>
	</div>
  <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> -->
</div>
{% endblock %}