{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="jumbotronContent">
	  	<div class="display-4"><h2 class="display-4 jumbotronBase">Hey, I'm </h2> <h2 class="display-4 jumbotronHighlight">Aravinda Kumaran</h2></div>
	  	<div class="display-4"><h2 class="display-4 jumbotronBase">But you can call me </h2> <h2 class="display-4 jumbotronHighlight">Ara</h2></div>
	  	<div>
	  		<h4 class="jumbotronBaseDesc">I'm a </h4>
	  		<h4 class="jumbotronHighlightDesc typing"></h4>
	  	</div>
	  	<div class="jumbotronLinks">
	  		<a class="clickable" href="about">
	  			<i class="fi fi-rr-arrow-circle-right arrow"></i>
	  			<h4 class="jumbotronBaseDesc">About Me</h4>
	  		</a>
	  	</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src=
"https://cdn.jsdelivr.net/npm/typed.js@2.0.11">
    </script>
    <script>
        var typed = new Typed(".typing", {
            strings: ["Data Analytics Student",
            "Software Developer","Creative Coder"],
              
            typeSpeed: 50,
            backSpeed: 50,
            loop: true,
        });
    </script>
{% endblock %}